In [48]:
import pandas as pd
import itertools
import numpy as np

In [32]:
soil_list =[]
for k in range(40):
    string = 'Soil_Type_' + str(k+1)
    soil_list.append(string)
WA_list =[]
for k in range(4):
    string = 'WA_' + str(k+1)
    WA_list.append(string)
names = [['Elevation'], ['Aspect'], ['Slope'], ['HDHyrdo'], ['VDHydro'], ['HDRoadways'], \
         ['9amHills'],['NoonHills'], ['3pmHills'], ['HDFirePoints'], WA_list,\
         soil_list, ['Cover_Type']]

type_list = []
for k in range(55):
    if k<6:
        type_list.append(float)
    elif k == 9:
        type_list.append(float)
    else:
        type_list.append(int)

In [33]:
col_names = list(itertools.chain(*names))
type_dict = {}
assert(len(col_names) == len(type_list))
for k in range(len(col_names)):
    type_dict[col_names[k]] = type_list[k]

In [35]:
data = pd.read_table('../data/covtype.data',sep=',',names=col_names, dtype=type_dict)

In [37]:
data.head()

,Elevation,Aspect,Slope,HDHyrdo,VDHydro,HDRoadways,9amHills,NoonHills,3pmHills,HDFirePoints,...,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5

In [41]:
#Splitting into attributes for training and response variables
X = data[col_names[:-1]]
Y = data[col_names[-1]]

In [43]:
#Splitting into test and training sets
from sklearn.cross_validation import train_test_split
itrain, itest = train_test_split(xrange(X.shape[0]), train_size=0.7)

In [49]:
mask=np.ones(X.shape[0], dtype='int')
mask[itrain]=1
mask[itest]=0
mask = (mask==1)

In [63]:
X_train = X[mask]
X_test = X[~mask]
Y_train = Y[mask]
Y_test = Y[~mask]

In [67]:
X_train.head()

,Elevation,Aspect,Slope,HDHyrdo,VDHydro,HDRoadways,9amHills,NoonHills,3pmHills,HDFirePoints,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,0
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,0
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,0
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,0
5,2579,132,6,300,-15,67,230,237,140,6031,...,0,0,0,0,0,0,0,0,0,0

In [81]:
#Implementing RandomForests in SKLearn
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=1000)

In [83]:
%time clf.fit(X_train,Y_train)

CPU times: user 23min 24s, sys: 42.8 s, total: 24min 7s
Wall time: 25min 30s

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [85]:
Y_pred = clf.predict(X_test)

In [86]:
accuracy = float(sum(Y_pred-Y_test == 0))/len(Y_test)
print '%accuracy for Random Forests:', accuracy*100

%accuracy for Random Forests: 95.3403249495

In [ ]:
#Need to decide number of trees for this problem